PROBE_AGENT_API_URL=https://pingmyserver.de
PROBE_AGENT_ID=community-de-example
PROBE_AGENT_JOB_LIMIT=10
PROBE_AGENT_CONCURRENCY=4
PROBE_AGENT_LOOP_INTERVAL_MS=10000
PROBE_AGENT_ALLOWED_TARGET_PORTS=80,443
